/* Body */

* {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d8dadf;
}

/* Nav Bar */

.navigation {
     background: #0B132B;
     margin: 0;
     padding: 0;
     width: 100%;
     position: fixed;
     z-index: 1000;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

header {
    position: relative;
}

.navbar {
    width: 100%;
    height: 60px;
    padding: 0rem 2rem 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}

.navbar .menu {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar .highlight {
    display: block;
    margin-left: 0;
    margin-right: 1rem;
}

.highlight {
    background-color: #0ef;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.highlight:hover {
    transform: scale(1.05);
    color: #000;
}

.highlight:active {
    transform: scale(0.95);
}

.dropdown-menu {
    position: absolute;
    top: 60px;
    width: 250px;
    height: 0;
    background: #0B132B;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .highlight {
    width: 80%;
    display: flex;
    justify-content: center;
}

.dropdown-menu.open {
    height: 200px;
    width: 100%;
    max-width: 100%;
    left: 0; 
    right: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: transparent;
}

/* Nav Bar Ends */

/* Hero Section */
#home {
    display: block;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    text-align: start;
}


.hero, #about, #services{
    background-size: cover;     
    background-repeat: no-repeat;
    background-position: center center;
}

.herotitle{
    font-size: 80px;
    color:#EED4E9;
    margin: 0 0 2.4rem 0;
    height: 45px;
    fill: #EED4E9;
    stroke: #000;
    stroke-width: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    width: 30rem;
    min-width: 30rem;
}

.hero-text{
    margin: 4rem 0 2rem 0;
}

.container_1 {
    display: flex; 
    flex-direction: column;
    align-items: left;
    text-align: start;
    height: 100vh;
    background-color: transparent;
    padding: 12rem 0 0 4rem;
}

#para1 {
    color: white;
    font-size: 1.5rem;
    padding: 5px 0 5px 0;
    width: 30rem;
}

#link1 {
    padding: 10px 0 5px 0;
    cursor: pointer;
    width: 10rem;
    min-width: 10rem;
}

a:hover {
    color:#3B99E7;
}

/* Services Section */
#services {
    background: #E0E0E0;
    height: 100vh;
    padding-top: 10vh;
}

.flex_container {
    display: flex;
    position: relative;    
    justify-content: space-evenly;
}

.serv, .serv_1, #s1 {
    background: white;
    width: 20%;
    min-width: 20%;
    padding: 2rem;
    margin-bottom: 4rem; 
    text-align: center;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.serv h3{
    text-align: center;
    font-size: 1.2rem;
    padding: 0 0 1rem 0;
}

#s1 h3{
    text-align: center;
    font-size: 1.2rem;
    padding: 0 0  1rem 0;
}

.tag {
    text-align: center;
    padding: 1rem;
    margin-top: 10px;
    font-size: 50px;
    stroke: #000;
    stroke-width: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* About Section */
#about {
    height: 100vh;
}

.container2{
    color: white;
    display: flex;
    font-size: 18px;
    flex-direction: column;
    text-align: center;
    padding: 4rem 8rem 0 8rem;
}

#para3{
    margin-top: 40px;
    width: auto;
}

#title{
    height: 2vh;
    font-size: 50px;
    margin-bottom: 2rem;
}

#mission-1, #vision{
    display: flex;
    padding: 1px;
    flex-direction: row;
    color: white;
    width: 40%;
    margin: 2% 0  0 10%;
}

#vision {
    margin-left: 50%;
}

.mission-text, .vision-text{
    font-size: 18px;
    margin-left: 7px;
}

.vision-text{
    padding-left: 15px;
    margin-left: 10px;
}

#para-title{
    font-size:25px
}

/* Contact Section */
#contact {
    display: flex;
    justify-content: space-around;
    background: #F0F0F0;
    height: 40vh;
}

.footer-container{
    width: 17rem;
    min-width: 17rem;
    padding: 3.2rem 2rem 0 0;
}

.footer-title {
    font-size: 23px;
    width: 7rem;
    min-width: 7rem;
    margin-bottom: 6px;
}

.copyright-wrapper {
    margin-top: 7rem;
}

.social-media-icons-wrapper{
    margin-top: 3rem;
}

.social-media-icons-wrapper a{
    padding: 0rem 1rem 0 0;
}

#img1, #img2 {
    height: 15%;
}

#location{
    padding: 0;
    margin-top: 6rem;
    margin-left: 0;
}

#location p{
    color: black;
}


@media (max-width: 992px) {
    .navbar .nav ul {
        display: none;
    }
    
    .navbar .menu {
        display: flex;
    }
    
    .navbar .menu i {
        display: inline-block;
    }
    
    .navbar .highlight {
        display: none;
    }
    
    .dropdown-menu {
        display: block;
    }
    
    .dropdown-menu .highlight {
        display: block;
        margin-top: 1rem;
    }
}

@media (max-width: 780px) {
    .container_1 {
        padding: 4rem 2rem 0 2rem;
        text-align: center;
        align-items: center;
    }
    .hero {
        background-image: url('images/bg_3.jpg')
    }
    
    .herotitle {
        font-size: 80px;
        width: 25rem;
        text-align: left;
        min-width: auto;
        margin: 10rem 10rem 1rem 10rem;
    }
    
    #para1 {
        font-size: 30px;
        fill: #EED4E9;
        stroke: #000;
        stroke-width: 5px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        width: 25rem;
        padding-left: 0px;
        text-align: left;
        margin: 3rem 0 0 0rem;
    }
    
    #link1 {
        width: auto;
        min-width: auto;
        text-align: left;
        display: inline-block;
    }
    
    
    #services {
        height: auto;
        padding: 5rem 1rem;
    }
    
    .tag {
        font-size: 36px;
        padding: 2rem 1rem;
    }
    
    .flex_container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    .serv, .serv_1, #s1 {
        width: 60%;
        min-width: auto;
        max-width: 400px;
        margin-bottom: 2rem;
    }
    
    
    #about {
        height: auto;
        padding-bottom: 4rem;
    }
    
    .container2 {
        padding: 2rem 1rem 0 1rem;
    }
    
    #title {
        font-size: 36px;
        height: auto;
        margin-bottom: 1rem;
    }
    
    #mission-1, #vision {
        width: 90%;
        margin: 2rem auto;
        flex-direction: column;
        text-align: center;
    }
    
    #vision {
        margin-left: auto;
        margin-right: auto;
    }
    
    .mission-text, .vision-text {
        margin-left: 0;
        margin-top: 1rem;
    }
    
    .vision-text {
        padding-left: 0;
        margin-left: 0;
    }
    
    #img1, #img2 {
        height: auto;
        width: 60px;
        align-self: center;
    }
    
    /* Contact Section Mobile */
    #contact {
        flex-direction: column;
        height: auto;
        padding: 2rem 1rem;
        align-items: center;
        text-align: center;
    }
    
    .footer-container {
        width: 100%;
        min-width: auto;
        padding: 1rem 0;
    }

    .footer-title{
        display: contents;
        text-align: center;
        justify-content: center;
        align
    }

    .social-media-icons-wrapper {
        margin: 2rem 0 0 3rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    
    #location {
        margin-top: 2rem;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    #location a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    #location img {
        height: 21px;
    }

    #img2 {
        padding-left: 5px;
    }
    
    .copyright-wrapper {
        margin-top: 3rem;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 480px) {

    .herotitle {
        font-size: 36px;
    }
    
    #para1 {
        font-size: 1rem;
    }
    
    .tag {
        font-size: 28px;
    }
    
    #title {
        font-size: 28px;
    }
    
    .container2 {
        font-size: 16px;
    }
    
    #para-title {
        font-size: 20px;
    }
    
    .navbar {
        padding: 0 1rem;
    }
    
    .navbar .logo a {
        font-size: 1.2rem;
    }
}